extends layout.pug
block styles
    link(rel="stylesheet", href="../style/css/orders.css")
    
block content
    h1 Product Details 
    section(class="pro")
        section(id="proSection" class="singlePro")
            h3 #{product.title}
            div(class="product-image2")
                img(src=product.image)
            //-  Pass back a qanutity back to the back end through url
            div(class="product-info2")
                div(class="description")
                    p #{product.description}
                    i Rating: #{product.rating.rate} / 5
                span
                    h5 $#{product.price}
                span
                    label(for="quantity") Quantity
                    input(type="number" id="quantity" name='quantity' value=0)
            div(class="add" onclick=`onSubmit(${product.id})`) Add To Cart
    script(src="../style/js/orderCart.js") 

